# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
*.so

# Jupyter
.ipynb_checkpoints/

# Data
data/*.csv
data/*.xlsx
data/*.xls
data/*.parquet
data/*.feather
data/*.pkl

# Outputs
outputs/*

# Environments
.env
.venv/
env/
venv/
